<div class="container">
  <button
    class="btn btn-success"
    (click)="onAction('complete')"
    *ngIf="action !== 'complete'"
    [disabled]="done"
  >
    Completed
  </button>
  <div class="btn btn-success btn-rounded-lg" *ngIf="action === 'complete'">
    <i class="fas fa-check text-center btn-alt animate-button"></i>
  </div>
  <button
    class="btn btn-fail btn-rounded-lg"
    (click)="onAction('fail')"
    *ngIf="action !== 'fail'"
    [disabled]="done"
  >
    Failed
  </button>
  <div class="btn btn-fail btn-rounded-lg" *ngIf="action === 'fail'">
    <i class="fas fa-times text-center btn-alt animate-button"></i>
  </div>
  <button class="btn-flat" (click)="onAction('cancel')">
    {{ cancelText }}
  </button>
</div>
